[submodule "libs/machinery-web"]
	path = libs/machinery-web
	url = https://github.com/eljaiek/machinery-web.git
[submodule "libs/toolbelt-configmap"]
	path = libs/toolbelt-configmap
	url = git@github.com:ehayik/toolbelt-configmap.git
